
.bordpd{
		border-color: #eee;
		border-width: 20px;
	}
.bgc{
		background-color: #eee;
	}
.header{
	padding-top: 0.5%;
	padding-bottom: 1%;
}
.cnmargin{ 
	margin-bottom: 4.5%;
	margin-top: 4.5%;

}

.searchbar{
	background-color: transparent;
	border: 0;
	outline: 0;
	width: 100%;
}

.total{
	font-size: 150%;
}
body{
	background-color: #eee;
}

