
.bordpd{
		border-color: #eee;
		border-width: 20px;
	}
.bgc{
		background-color: #eee;
	}

.cnmargin{ 
	margin-bottom: 8%;
	margin-top: 9%;
}

.searchbar{
	background-color: transparent;
	border: 0;
	outline: 0;
	width: 100%; 
}

.total{
	font-size: 180%;
}
body{
	background-color: #eee;
}


header{
   padding-top: 4%;
   padding-bottom: 0.5%; 
}

.navele {
	font-size: 20%;
}
.br{
	border-radius: 15%;
}

.container{
 max-width: 90%;
}
